engine/bin/
engine/data/*

gui/target/

*.log
*.out
*.exe
*.o
*.obj

.vscode/
*.code-workspace

.idea/
cmake-build-debug/
cmake-build-release/

*~
*.tmp
*.swp
*.swo
.DS_Store

Thumbs.db
desktop.ini

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

*.dSYM/
*.egg-info/
*.pyc
*.pyo